body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swipelayout_screen {
  margin: 0;
  padding-top: 2vh;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2vh;
  width: 96%;
  /* Remove fixed height and overflow hidden - let FormLayout handle scrolling */
  min-height: 100%;
  box-sizing: border-box;
}

.swipelayout_screen > div > div {
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
