# Debug binary
__debug_bin*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Configuration files
.synkronus.yaml
.synkronus_token

# IDE files
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Build output
bin/
dist/